<h1>Bem-vindo ao Sistema de Troca de Alimentos!</h1>
<p>Encontre alimentos disponíveis para troca e ajude a combater o desperdício.</p>

<a href="/alimentos">Ver Alimentos Disponíveis</a> | 
<a href="/add-alimento">Adicionar Alimento</a> | 
<a href="/cadastro">Cadastrar</a>
